<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Penjualan</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td>Jumlah Penjualan</td>
                    <td>
                        <input type="number" name="jumlah_penjualan" value="{{jumlah}}">
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Penjualan</td>
                    <td>
                        <input type="date" name="tanggal_penjualan" value="{{tanggal}}">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>